<h1>secret Page!</h1>

<p>You Found Me!</p>

<img src ="http://img0.imgtn.bdimg.com/it/u=649986352,1555499948&fm=11&gp=0.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>