<% include partials/header.ejs %>
<link rel="stylesheet" type ="text/css" href="/app.css">
<div class = "container">
    <div class="row">
        <div class="container text-center">
            <h1>Welcome to Zhikai's Home!</h1></h1>
            <h4>Learn to control yourself -- zhikai</h4>
            <p>
                <a class="btn btn-info btn-lg" herf="/"><i class="fa fa-search" aria-hidden="true"></i> More About Him</a>
            </p>
            <p>
                <a class ="btn btn-warning btn-lg" href="/index">To Explore more</a>
            </p>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>