<h1> Friends List Goes Here!</h1>

<% friends.forEach(function(friend) { %>
    <li>
        friend: <%= friend %>
    </li>
<% }); %>

<form action="/addfriends" method="POST">
    <input type="text" name ="newfriend" placeholder="name"></input>
    <button>I made a new Friends</button>
</form>